@model IEnumerable<FrippesFlow.Models.Result>

@{
    ViewData["Title"] = "Results";
}

<div class="text-center">
    <h1 class="display-4">Kolla vinsten!</h1>
    @foreach (var result in Model)
    {
        <div>
            <h1>Week:</h1>
            <p>@result.Date</p>
            <h1>Production Cost:</h1>
            <p>@result.ProductionCost</p>
            <h1>total income:</h1>
            <p>@result.TotalIncome</p>
            <h1>margin:</h1>
            <p>@(result.TotalIncome - result.ProductionCost)</p>
        </div>
    }
</div>
