@model FrippesFlow.ViewModels.ResultChartViewModel;

@{
    ViewData["Title"] = "Results";
}

<h1>Results</h1>

<div class="chart-container">
    <div>
        <canvas id="result-chart"></canvas>
    </div>
</div>

<script>
    Chart.register(ChartZoom);

    // Hämta data från ViewBag (som JSON)
    const week = @Html.Raw(Model.Week);
    const prodCost = @Html.Raw(Model.ProdCost);
    const totIncome = @Html.Raw(Model.TotIncome);
    const margin = totIncome.map((income, index) => income - prodCost[index]);

    const ctx = document.getElementById('result-chart');

    const datasets = [
        {
            label: 'Production Cost',
            data: prodCost
        }, {
            label: 'Total Income',
            data: totIncome
        },
        {
            label: 'Margin',
            data: margin
        }
    ];

    const chartGeneratorResults = new ChartGenerator(ctx, 'line', datasets, 'SEK', "Week", week, "week");
    chartGeneratorResults.generateChart();
</script>
