@model IEnumerable<FrippesFlow.Models.Result>

@{
    ViewData["Title"] = "Results";
}


<h1>Results</h1>
<div class="chart-container"> 

<div>
    <canvas id="result-chart"></canvas>
</div>
<script>
    Chart.register(ChartZoom);

    // Hämta data från ViewBag (som JSON)
    const week = @Html.Raw(ViewBag.Weeks);
    const prodCost = @Html.Raw(ViewBag.ProdCost);
    const totIncome = @Html.Raw(ViewBag.TotIncome);
    const margin = totIncome.map((income, index) => income - prodCost[index]);

    const ctx = document.getElementById('result-chart');

    const datasets = [
        {
            label: 'Production Cost',
            data: prodCost
        }, {
            label: 'Total Income',
            data: totIncome
        },
        {
            label: 'Margin',
            data: margin
        }
    ];

    const chartGeneratorResults = new ChartGenerator(ctx, 'line', datasets, 'SEK', "Week", week, "week");
    chartGeneratorResults.generateChart(); 
</script>
</div>
