:root {
  --frippe-chart-size: 750px;
}

.chart-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

#result-chart,
#bread-chart {
  width: var(--frippe-chart-size);
  height: var(--frippe-chart-size);
  max-width: var(--frippe-chart-size);
  max-height: var(--frippe-chart-size);
}

#pie-chart {
  width: 100% !important;
  height: 400px !important;
}
