html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.img-banner {
  width: 100%;
  height: auto;
  max-height: 500px; 
  object-fit: cover; 
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-size: 18px;
  margin-right: 20px;
}