<h1>Change variable values</h1>
<div class="flex-container">
    <div class="item" id="item1">
        <input type="text" id="milkCostInput" placeholder="milk cost">
    </div>
    <div class="item" id="item2">
        <input type="text" id="flourCostInput" placeholder="flour cost">
    </div>
    <div class="item" id="item3">
        <input type="text" id="yeastCostInput" placeholder="yeast cost">
    </div>
    <div class="item" id="item4">
        <input type="text" id="butterCostInput" placeholder="butter cost">
    </div>
    <div class="item" id="item5"></div><input type="text" id="saltCostInput" placeholder="salt cost">
</div>
<div class="item" id="item6">
    <input type="text" id="waterCostInput" placeholder="water cost">
</div>
<div class="item" id="item7">
    <input type="text" id="electricityCostInput" placeholder="electricity cost">
</div>
</div>
