@model FrippesFlow.Models.SalesEntry;
<section>
     <form asp-controller="Sales" asp-action="AddEntry" method="post">
        <div>
            <div>
                <label for="Week">Week</label>
                <input asp-for="Week" type="text">
            </div>
            <div>
                <label for="AmountSold">Amount Sold</label>
                <input asp-for="AmountSold" type="text">
            </div>
            <div>
                <label for="PricePer">Price per fralla</label>
                <input asp-for="PricePer" type="text">
            </div>
        </div>
        <button>Submit</button>
    </form>

</section>