<h1>Sales Overview</h1>

<a class="" asp-area="" asp-controller="sales" asp-action="AddEntry">Add Weekly Sales</a>

<div>
    <canvas id="bread-chart"></canvas>
</div>
<script>
    Chart.register(ChartZoom);

    // Hämta data från ViewBag (som JSON)
    const weeks = @Html.Raw(ViewBag.Weeks);
    const amountsSold = @Html.Raw(ViewBag.AmountsSold);
    const pricePer = @Html.Raw(ViewBag.PricePer);

    const ctx = document.getElementById('bread-chart');


    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: weeks, // Använd veckorna som etiketter
            datasets: [{
                label: 'Amount Sold',
                data: amountsSold, // Använd försäljningssiffrorna som data
                borderWidth: 1,
                borderColor: 'rgba(75, 192, 192, 1)',
                backgroundColor: 'rgba(75, 192, 192, 0.2)'
            },
            {
                label: 'Price per fralla',
                data: pricePer,
                borderWidth: 1,
                borderColor: 'rgba(255, 20, 10, 1)',
                backgroundColor: 'rgba(255, 20, 10, 0.2)'
            }]
    const datasets = [
                {
                    label: 'Amounts sold',
                    data: amountsSold
                }, {
                    label: 'Price per',
                    data: pricePer
                },
            ];

            const chartGenerator = new ChartGenerator(ctx, 'line', datasets, 'bread', "Weeks", weeks);
            chartGenerator.generateChart(); 
</script>
