<h1>Sales Overview</h1>

<button id="addSalesButton" class="float-left submit-button">Add Weekly Sales</button>

<script type="text/javascript">
    document.getElementById("addSalesButton").onclick = function () {
        location.href = "http://localhost:5012/sales/add";
    };
</script>

<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Hämta data från ViewBag (som JSON)
    const weeks = @Html.Raw(ViewBag.Weeks);
    const amountsSold = @Html.Raw(ViewBag.AmountsSold);
    const pricePer = @Html.Raw(ViewBag.PricePer);


    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: weeks, // Använd veckorna som etiketter
            datasets: [{
                label: 'Amount Sold',
                data: amountsSold, // Använd försäljningssiffrorna som data
                borderWidth: 1,
                borderColor: 'rgba(75, 192, 192, 1)',
                backgroundColor: 'rgba(75, 192, 192, 0.2)'
            },
            {
                label: 'Price per fralla',
                data: pricePer,
                borderWidth: 1,
                borderColor: 'rgba(255, 20, 10, 1)',
                backgroundColor: 'rgba(255, 20, 10, 0.2)'
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
