<h1>Sales Overview</h1>

<a class="" asp-area="" asp-controller="sales" asp-action="AddEntry">Add Weekly Sales</a>

<div>
    <canvas id="bread-chart"></canvas>
</div>
<script>
    Chart.register(ChartZoom);

    // Hämta data från ViewBag (som JSON)
    const weeks = @Html.Raw(ViewBag.Weeks);
    const amountsSold = @Html.Raw(ViewBag.AmountsSold);
    const pricePer = @Html.Raw(ViewBag.PricePer);

    const ctx = document.getElementById('bread-chart');

    const datasets = [
        {
            label: 'Amounts sold',
            data: amountsSold
        }, {
            label: 'Price per',
            data: pricePer
        },
    ];

    const chartGenerator = new ChartGenerator(ctx, 'line', datasets, 'bread', "Weeks", weeks);
    chartGenerator.generateChart(); 
</script>
